.P1{
    color: red;
}
.P2{
    color: blue;
}
.P3{
    color: green;
}
.P4{
    color: cornflowerblue;
}
.MAIN{
    height: 400px;
    width: 300px;
    background-color: blanchedalmond;
    padding: 40px;
    border: 20px double black;
    margin: 10px;
}

